@import "../../index.scss";

.navigation {
  border-bottom: 1px solid $boder;
  padding: 0.5rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 3;
  h1 {
    color: $primary-color-light;
  }
}
