@import "../../index.scss";
.section__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: $font-light;
  border-top: 1px solid $boder;
}
