@mixin content-style {
  background-color: #b4b0d1;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
.table__container {
  position: relative;
  padding-top: 2rem;
  .anticon-plus-circle {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .table__grid {
    &__head,
    &__body {
      display: grid;
      grid-template-columns: 2fr repeat(4, 2fr) 0.5fr;
      padding: 15px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__head {
      background-color: #6a5acd;
      color: #ffffff;
      border-radius: 10px 10px 0 0;
      display: none;
      @media screen and(min-width: 768px) {
        display: grid;
      }
    }
    &__body {
      border-bottom: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
      @media screen and(max-width: 767px) {
        margin-bottom: 1rem;
        border-top: 1px solid #f0f0f0;
      }

      display: block;
      @media screen and(min-width: 768px) {
        &:last-of-type {
          border-radius: 0 0 10px 10px;
        }
        display: grid;
        align-items: center;
        &:nth-child(2n) {
          background-color: #dddddd;
        }
      }
    }
    .text__responsive-img {
      position: relative;
      .avatar-admin {
        border-radius: 50%;
      }
      .plus-icon {
        position: absolute;
        margin-left: -50px;
        color: #dddddd;
        font-size: 40px;
        top: 12px;
        cursor: pointer;
      }
    }

    // Table responsive
    @media screen and(max-width: 767px) {
      &__container {
        .table__grid__body {
          padding: 0;
          border-radius: 0 0 10px 10px;
          border-top: 0;
          .text__responsive {
            @include flex-column;
            span:first-child {
              @include flex-center;
              flex-direction: column;
              align-items: center;
            }

            &::before {
              content: attr(text-responsive) !important;
              @include content-style;
            }
          }
          .first_tr_body {
            .user__name {
              @include flex-center;
              span {
                &:first-child {
                  display: none;
                }
              }
            }
            &::before {
              color: #ffffff;
              background-color: #6a5acd;
              height: 40px;
              @include flex-center;
              align-items: center;
              border-radius: 10px 10px 0 0;
            }
          }

          .active {
            .status {
              padding: 0.5rem 0;
            }
          }
          .action {
            .container__popover {
              padding: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}

// Popover styles
.ant-popover {
  z-index: 3;
}
.grid__iconspopover {
  @include flex-column;
  span {
    cursor: pointer;
    font-size: 1.3rem;
  }
  span {
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-top: 0.5rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .ant-modal-size {
    width: 50% !important;
  }
}

.warning__message {
  @include flex-center;
}
.customized-textarea {
  outline: 0;
  resize: none;
  border-radius: 5px;
}
.error__input-textarea,
.error__input-textarea:focus {
  // border: 1px solid red;
  outline: none;
  background-color: #ff9494;
  input {
    background-color: #ff9494;
  }
  .tox-edit-area__iframe {
    background-color: #ff9494 !important;
  }
}

.select__course {
  margin-bottom: 1rem;
}
.editor__admin {
  .ant-form-item-control-input-content {
    width: 100%;
  }
  .ck-editor__editable {
    min-height: 150px;
  }
}
